*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 20vh 100vh 110vh 100vh 100vh 50vh;
    grid-template-areas: 
    "header header header header"
    "1 section section 4"
    "1 about about 4"
    "1 skills skills 4"
    "1 work work 4"
    "1 contact contact 4";
    background-color: #0d0521;

}
#header{
    grid-area: header
}
.list{
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5rem;
    color:#0eef7b;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #0d0521

}
ul {
    list-style-type: none;
}
li {
    float: left;
}
li a {

    color: #0eef7b;
    padding: 14px 16px;
    text-decoration: none;
}
#section{
    grid-area: section;
    
}
#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    text-align: left;
    font-size: 4rem;
    color: #0eef7b;
    font-family:'Alfa Slab One', cursive;
    font-weight: 500;

}
.subtitulo{

    font-size: 2rem;
    color: #0eef7b9e;
    font-family: 'Catamaran', sans-serif;
    font-weight: 100;
}
#about{
    grid-area: about;
}
#aboutTitle{
    text-align: center;
    font-size: 3rem;
    color: #0eef7b;
    font-family: 'Catamaran', sans-serif ;
    font-weight: 600;
    letter-spacing: 2vw;
    margin-bottom: 6vh;
}
.parrafoAbout{
    text-align: center;
    font-size: 1.5rem;
    color: #0eef7b9e;
    font-family: 'Catamaran', sans-serif;
    font-weight: 200;
    margin-bottom: 5vh;
}
#skills{
    grid-area: skills;
}
#skillsTitle{
    text-align: left;
    font-size: 3rem;
    color: #0eef7b;
    font-family: 'Catamaran', sans-serif ;
    font-weight: 600;
    letter-spacing: 2vw;
    margin-bottom: 6vh;
    margin-left: 3vw;

}
.parrafoSkills{
    text-align: left;
    font-size: 1.5rem;
    color: #0eef7b9e;
    font-family: 'Catamaran', sans-serif;
    font-weight: 200;
    margin-bottom: 5vh;
}
.skillsList{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: 'Catamaran', sans-serif;
    color: #0eef7b9e;
    padding: 14px 16px;
    text-decoration: none;
}
#work{
    grid-area: work;
}
#workTitle{
    text-align: right;
    font-size: 3rem;
    color:#0eef7b;
    font-family:'Catamaran', sans-serif ;
    font-weight: 600;
    letter-spacing: 2vw;
    margin-top: 6vh;
    margin-right: 3vw;
}
