* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

@font-face {
    font-family: KeeponTrucking;
    src: url(../KeeponTruckin.ttf );
}

@font-face {
    font-family: Mustica;
    src: url(../MusticaPro-SemiBold.otf);
}

@font-face {
    font-family: TSBlock;
    src: url(../TS\ Block\ Bold.ttf);
}

#body {
    background-image: url(../Fondo.png);
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: auto 100vh 110vh auto auto auto;
    grid-template-areas:
        "header header header header"
        "section section section section"
        "1 about about 4"
        "1 lineUp lineUp 4"
        "1 work work 4"
        "1 carrito carrito 4";
}

#header {
    grid-area: header
}

.list {
    font-family: 'Mustica', sans-serif;
    font-size: 1.5rem;
    color: #7d0000;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #fff134;

}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    color: #7d0000;
    padding: 14px 16px;
    text-decoration: none;
}

#section {
    grid-area: section;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ABOUT */


#about {
    grid-area: about;
}

#aboutTitle {
    text-align: right;
    font-size: 3rem;
    color: #7d0000;
    font-family: 'TSBlock', sans-serif;
    font-weight: 600;
    letter-spacing: 2vw;
    margin-top: 25vh;
    margin-bottom: 6vh;
    text-shadow: 5px 5px 5px rgba(101, 99, 0, 0.437);
}

.parrafoAbout {
    text-align: center;
    font-size: 1.5rem;
    color: #0eef7b9e;
    font-family: 'KeeponTrucking', sans-serif;
    font-weight: 200;
    margin-bottom: 5vh;
}



/* LINE UP */

#lineGrill {
    grid-area: lineUp;
    ;
}

#grillTitle {
    text-align: left;
    font-size: 3rem;
    color: #7d0000;
    font-family: 'TSBlock', sans-serif;
    font-weight: 600;
    letter-spacing: 2vw;
    margin-bottom: 4rem;
    text-shadow: 5px 5px 5px rgba(255, 251, 0, 0.437);
}


#grill {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-bottom: 3rem;
    justify-content: center;
}

.grillList {
    flex-direction: row;
    font-size: 2rem;
    font-family: 'TSBlock', sans-serif;
    color: #7d0000;
    transition: transform;
}

.parrafoGrill:hover {
    text-shadow: 5px 5px 5px rgb(255, 251, 0);
    transform: scale(1.4);
}

#artistSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputLine {
    justify-content: space-around;
    width: 50vw;
    height: 3rem;
    border: 2px solid #7d0030;
    border-radius: 50px;
    background-color: #7d000059;
    color: #ffee01;
    font-family: Mustica;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4rem;
    box-shadow: 5px 5px 15px #7d0000;
}

#search {
    color: #fff134;
    height: 3rem;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #7d000059;
    border: 1px solid #7d0030;
    transition: all .3s;
    box-shadow: 6px 6px 12px #680028e8;
    margin-left: 1rem;
}

#search:active {
    color: #6e7000;
    box-shadow: inset 4px 4px 12px #ff000059;
}

#input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #7d0030;
    font-size: 3rem;
    font-family: 'TSBlock', sans-serif;
    color: #7d0000;
    text-align: center;
    margin-bottom: 4rem;
    background-color: #d8ca004c;
    border-radius: 110px;
    box-shadow: 5px 5px 20px black;
}





/* TICKETS */

#ticketSection {
    grid-area: work;
}

#ticketTitle {
    text-align: center;
    font-size: 3rem;
    color: #7d0000;
    font-family: 'TSBlock', sans-serif;
    font-weight: 600;
    letter-spacing: 2vw;
    margin-left: 3vw;
    margin-top: 6vh;
    text-shadow: 5px 5px 5px rgba(255, 251, 0, 0.437);
}

.ticketsCard {
    display: flex;
    justify-content: space-around;
}

.card {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardImg {
    width: 80%;
    border-style: solid;
    border-color:  black;
    box-shadow: 5px 5px 20px black;
}

.cardTitle {
    color: #7d0000;
    font-family: Mustica;
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.cardPrice {
    color: #7d0000;
    font-family: Mustica;
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.cardDesc {
    color: #7d0000;
    font-family: Mustica;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.buttonCTA {
    margin: 10px 10px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}

.buttonCTA:hover {
    box-shadow: 5px 5px 20px rgb(255, 251, 0);
}




/* CARRITO */

#ticketSection2 {
    grid-area: carrito;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carritoSection {
    grid-area: carrito;
    width: 100%;
    flex-flow: column;
    align-items: center;
}

.box {
    width: auto;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}

.carrito {
    color: #7d0000;
    font-family: 'TSBlock', sans-serif;
    font-weight: 600;
    letter-spacing: 2vw;
    margin-left: 3vw;
    margin-top: 7vh;
    color: #7d0000;
    display: block;
    font-size: 3rem;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(255, 251, 0, 0.437);
}

.carritoImg {
    width: 15%;
}

.carritoImg img {
    width: 100%;
}

.carritoTitle {
    width: 35%;
    font-family: Mustica;
    color: #7d0000;
    text-align: center;
    font-size: 1.5rem;
    
}

.carritoDesc {
    width: 25%;
    font-family: Mustica;
    color: #7d0000;
    text-align: center;
    font-size: 1.5rem;
}

.carritoPrice {
    width: 25%;
    font-family: Mustica;
    color: #7d0000;
    text-align: center;
    font-size: 1.5rem;
}



/* button */


button {
    border: none;
    border-radius: 20px;
    background-color: transparent;
    transition: all 1.5s ease;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding: 0;
}

#empty{
    display: flex;
    justify-content: center;
}
button span {
    display: inline-block;
    padding: 15px 35px;
    font-size: 17px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    transition-property: color;
}

button span:hover {
    transition: 0.7s ease-in-out;
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    backdrop-filter: blur(0px);
    color: #ffffff;
}

#vaciarCarrito {
    animation: zoom-in-zoom-out 1s ease;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}